<div class="container">
<div class="card-index">
  <div class="card">
    <label for="tool">What are you looking for?</p>
      <%= form_tag tools_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-group",
            placeholder: "Find a tool"
          %>
  </div>
  <div class="card">
      <label for="from">Starting date</p>
            <%= date_field_tag :from,
              params[:from],
              class: "form-group",
              placeholder: "From"
            %>
  </div>
  <div class="card">
        <label for="to">End date</p>
            <%= date_field_tag :to,
              params[:to],
              class: "form-group",
              placeholder: "to"
            %>
  </div>
  </div>
      <!--  <div class="card">
              <label for="calendar">Check availabilities (from / to)</label>
              <div class="form-group" id="datepicker">
                <input type="date" name="from" />
                <input type="date" name="to" />
              </div>
            </div> -->
<div class="card-index">
        <div class="search-button">
          <%= submit_tag "Search", class: "btn btn-flat" %>
        </div>
    <% end %>
</div>
</div>
<br>

<div class="container" background-color="none">
  <div class="cards">
    <% @tools.each do |tool| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= tool.photo.attached? ? cl_image_path(tool.photo.key) : asset_path('hammer.jpeg')%>)"><%= link_to "#{tool.name} | #{tool.tool_type}", tool_path(tool), class:"name-link"%>
      </div>
    <% end %>
  </div>
</div>
<div class="map-users"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
