<div class="container">
  <h1>Add a New Tool:</h1>
  <%= simple_form_for(@tool) do |f| %>
      <%= f.input :name, label: "Brand" %>
      <%= f.input :tool_type %>
      <%= f.input :price %>
      <%= f.input :description %>
     <%= f.input :photo, as: :file %>
      <%= f.button :submit %>
      <% end  %>
  <%= link_to 'Back', tools_path, class: "btn"   %>
</div>
