<h2><%= @tool.name%> | <%=@tool.tool_type%></h2>
<h4>Costs per Day: <%= @tool.price %>€</h4>
<p><%= @tool.description %></p>

<div class="container">
  <h3>Select the date of your reservation:</h3>
  <%= simple_form_for([@tool, @reservation]) do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.button :submit %>
      <% end  %>
</div>




<%= link_to 'Back', tools_path %>
