<div class="container show" >
    <div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
      <div class="container">
        <h1 class="showpage-heading"><%= @tool.tool_type%></h1>
      </div>
    </div>
    <div class="content">
      <div class="details">
          <p > <strong><%=@tool.tool_type%></strong> Brand:<%=@tool.name%></p>
          <p>Costs per Day: <%= @tool.price %>€</p>
          <p>Tool Description: <%= @tool.description %></p>
      </div>
      <div class="calendar card">
          <p>Select the date of your reservation:</p>
          <%= simple_form_for([@tool, @reservation]) do |f| %>
              <%= f.input :start_date %>
              <%= f.input :end_date %>
              <%= f.button :submit, class: 'btn btn-primary'  %>
              <% end  %>
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-light"><%= link_to 'Back to overview', tools_path %></button>
    </div>
</div>
